<mat-toolbar color="primary">
  <ion-menu-button color="light"></ion-menu-button>
<span>Approve Booking List</span>
<span class="example-fill-remaining-space"></span>
<ion-icon name="more"></ion-icon>
</mat-toolbar>

<ion-content>

  <mat-card class="example-card" style="padding: 0px">
    <img mat-card-image src="../../assets/Save_bg.jpg" alt="Saved list">
  </mat-card>
    <mat-card-content>
      <mat-accordion>

        <mat-expansion-panel *ngFor="let item of items">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.employeeName}}: {{item.bookingId}} :{{item.requestedDate}}
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <!-- <ion-item-divider>
              <ion-col size="5">
                <ion-text>
                    Category :
                </ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>
                  {{item.category}}
                </ion-text>
              </ion-col>
            </ion-item-divider>

            <ion-item-divider>
                <ion-col size="5">
                  <ion-text>
                      Sub-Category :
                  </ion-text>
                </ion-col>
                <ion-col size="7">
                  <ion-text>
                    {{item.subCategory}}
                  </ion-text>
                </ion-col>
              </ion-item-divider>

              <ion-item-divider>
                  <ion-col size="5">
                    <ion-text>
                        Item :
                    </ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>
                      {{item.item}}
                    </ion-text>
                  </ion-col>
                </ion-item-divider> -->
                  
            <ion-item-divider>
              <ion-col size="5">
                <ion-text>
                  Expense Period :
                </ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>
                    {{item.expensePeriod}}
                </ion-text>
              </ion-col>
            </ion-item-divider>

            <ion-item-divider>
              <ion-col size="5">
                <ion-text>
                  Amount in INR :
                </ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>
                    {{item.amount}}
                </ion-text>
              </ion-col>
            </ion-item-divider>

            <ion-item-divider>
              <ion-col size="5">
                <ion-text>
                  Deparment :
                </ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>
                    {{item.department}}
                </ion-text>
              </ion-col>
            </ion-item-divider>

            <!-- <ion-item-divider>
                <ion-col size="5">
                  <ion-text>
                    Site Name :
                  </ion-text>
                </ion-col>
                <ion-col size="7">
                  <ion-text>
                      {{item.siteName}}
                  </ion-text>
                </ion-col>
              </ion-item-divider>

              <ion-item-divider>
                  <ion-col size="5">
                    <ion-text>
                      Expense Center :
                    </ion-text>
                  </ion-col>
                  <ion-col size="7">
                    <ion-text>
                        {{item.expenseCenter}}
                    </ion-text>
                  </ion-col>
                </ion-item-divider>

                <ion-item-divider>
                    <ion-col size="5">
                      <ion-text>
                        Comment :
                      </ion-text>
                    </ion-col>
                    <ion-col size="7">
                      <ion-text>
                          {{item.remarks}}
                      </ion-text>
                    </ion-col>
                  </ion-item-divider> -->

          </mat-list>
          <mat-grid-list cols="1" rowHeight="4:1">
            <mat-grid-tile>
                <button *ngIf="!item.isInvite" [routerLink]="['../approve-expense-booking-detail']"  [queryParams]="{requestId:item.id}"  style="width: 100%" mat-button mat-raised-button color="primary"><ion-icon name="send"></ion-icon> View Detail</button>
                <button *ngIf="item.isInvite" [routerLink]="['../expense-invite-detail']"
                [queryParams]="{requestId:item.id}"  style="width: 100%" mat-button mat-raised-button color="primary"><ion-icon name="send"></ion-icon> View Detail</button>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
                <ion-button style="width: 100%" color="danger" (click)='presentAlert();'><ion-icon name="trash"></ion-icon> DELETE</ion-button>
            </mat-grid-tile> -->
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
</ion-content>
